.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form p {
  margin: 2px 0 0 24px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.link:hover {
  color: #fff;
}
