.mainGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.fillingGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 536px);
  position: relative;
  overflow-y: auto;
  scrollbar-gutter: stable;
  left: calc(var(--offset-base-size) * 4);
  margin-left: calc(var(--offset-base-size) * -4);
  gap: 16px;
  padding-left: 0;
}

.fillingGroup::-webkit-scrollbar-thumb {
  border-radius: 0;
  border: 0;
}

.fillingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
}

.emptyBun {
  display: flex;
  width: 100%;
}

.emptyBunMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: flex-end;
}

.checkout {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.price svg {
  min-width: 36px;
  min-height: 36px;
  object-fit: contain;
  object-position: center;
}
