.burgerConstructor {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 120px;
}

.mainGroup {
  width: 100%;
  max-width: 568px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.fillingGroup {
  width: 100%;
  max-height: calc(100vh - 544px);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  left: 8px;
  margin-left: -8px;
  gap: 16px;
  padding-left: 0;
  min-height: max-content;
}

.fillingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  color: #8585ad;
  transition: color .3s ease-in-out;
}

.fillingMessageCanDrop {
  color: #69f0ae;
  transition: color .3s ease-in-out;
}

.emptyBun {
  display: flex;
  width: 100%;
  border: 2px solid transparent;
  transition: border .3s ease-in-out;
}

.emptyBunCanDrop {
  border: 2px solid #69f0ae;
  transition: border .3s ease-in-out;
}

.emptyBunMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: color .3s ease-in-out;
}

.emptyBunMessageCanDrop {
  color: #69f0ae;
  transition: color .3s ease-in-out;
}

.item {
  display: flex;
  justify-content: flex-end;
  cursor: default;
}

.checkout {
  max-width: 568px;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: opacity .3s ease-in-out;
}

.price svg {
  min-width: 36px;
  min-height: 36px;
  object-fit: contain;
  object-position: center;
}
