.mainGroup {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.fillingGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100vh - 536px);
  position: relative;
  overflow-y: auto;
  scroll-snap-type: y proximity;
  scrollbar-gutter: stable;
  left: calc(var(--offset-base-size) * 4);
  margin-left: calc(var(--offset-base-size) * -4);
  gap: 16px;
  padding-left: 0;
  min-height: max-content;
}

.fillingGroup::-webkit-scrollbar-thumb {
  border-radius: none;
  border: none;
}

.fillingMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 536px;
  min-height: 80px;
  color: #8585AD;
  transition: color .3s ease-in-out;
}

.fillingMessageCanDrop {
  color: white;
  transition: color .3s ease-in-out;
}

.emptyBun {
  display: flex;
  width: 100%;
  transition: background-color .3s ease-in-out;
}

.emptyBunCanDrop {
  background-color: #8585AD;
  transition: background-color .3s ease-in-out;
}

.emptyBunMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: color .3s ease-in-out;
}

.emptyBunMessageCanDrop {
  color: #000;
  transition: color .3s ease-in-out;
}

.item {
  display: flex;
  justify-content: flex-end;
}

.checkout {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.price svg {
  min-width: 36px;
  min-height: 36px;
  object-fit: contain;
  object-position: center;
}
