.orderListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.description {
  display: flex;
  align-items: center;
  gap: 16px;
}

.imgWrap {
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#131316, #131316) padding-box,
              linear-gradient(45deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
}

.img {
  width: 112px;
  height: 56px;
  border-radius: 50%;
}

.title {
  width: 100%;
  max-width: 320px;
}

.price {
  display: flex;
  gap: 8px;
}

.priceText {
  width: 100%;
  max-width: 160px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.priceIcon {
  display: block;
  font-size: 0;
}
