.main {
  display: flex;
  justify-content: center;
  padding: 40px 0 0 0;
}

.wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 1280px;
  min-height: calc(100vh - 128px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 20px;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.sectionOrderCard {
  width: 100%;
  max-width: 50%;
  max-height: calc(100vh - 208px);
  min-height: 585px;
  overflow-y: auto;
}

.orderCardList {
  box-sizing: border-box;
  max-width: calc(100% - 8px);
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sectionFeedStatus {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
