.modal {
  visibility: hidden;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  max-width: 720px;
  min-height: 402px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f2f2f3;
  background: linear-gradient(#1c1c21, #1c1c21) padding-box,
              linear-gradient(45deg, #801ab2, #4c4cff) border-box;
  border: 2px solid transparent;
  border-radius: 40px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .04),
              0 4px 8px 0 rgba(0, 0, 0, .04),
              0 16px 24px 0 rgba(0, 0, 0, .04),
              0 24px 32px 0 rgba(0, 0, 0, .04);
  z-index: 60;
}

.open {
  visibility: visible;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 640px;
  min-height: 64px;
  gap: 36px;
}

.title {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.button {
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: opacity .3s ease-in;
  padding: 0;
  margin: 0;
}

.button:hover {
  opacity: .5;
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
}
