.body {
  margin: 0;
}

.centeredContainer {
  height: calc(100vh - 88px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.profileErrMessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.custom-scroll {
  scrollbar-gutter: stable;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}
