.burgerIngredients {
  width: 100%;
  max-width: 600px;
}

.tabs {
  display: flex;
}

.groups {
  max-height: calc(100vh - 284px);
  scrollbar-gutter: stable;
  overflow-y: auto;
}

.groups::-webkit-scrollbar-thumb {
  background: #8585AD;
  border: unset;
  border-radius: unset;
}

.groups::-webkit-scrollbar-track {
  margin-bottom: 40px;
}
