.burgerIngredients {
  width: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tabs {
  display: flex;
}

.groups {
  max-height: calc(100vh - 304px);
  overflow-y: auto;
}
