.header {
  display: flex;
  justify-content: center;
  background-color: #1c1c21;
}

.nav {
  width: 100%;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
}

.start {
  justify-self: flex-start;
}

.end {
  justify-self: flex-end;
}

.nestedMenu {
  display: flex;
  list-style: none;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-size: 0;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: color .3s ease-in-out;
}

.link svg {
  min-width: 24px;
  min-height: 24px;
  object-fit: contain;
  object-position: center;
  transition: fill .3s ease-in-out;
}

.link:hover {
  color: #f2f2f3;
}

.link:hover svg {
   fill: #f2f2f3;
 }

.active {
  color: #f2f2f3;
  cursor: default;
}

.active svg {
  fill: #f2f2f3;
}

.activeLogo {
  cursor: default;
}

.inactiveLogo {
  cursor: pointer;
}
